<div class="fixed-action-btn" style="bottom: 45px; right: 48px;">
  <button id="create-project-button" href="#create-project-modal" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-button--raised">
    <i class="material-icons">mode_edit</i>
  </button>
  <div class="mdl-tooltip" for="create-project-button">
      Create new project
  </div>
</div>
<!-- Modal Structure -->
<div id="create-project-modal" class="modal">
  <div class="modal-content">
    <form id="create" method="post">
      <h5>CREATE NEW PROJECT</h5>
      <div class="divider"></div>
      <div class="section">
        <div class="row">
          <div class="input-field col s12">
            <input id="project_title" type="text" name="project_title" class="validate" length="16">
            <label for="title">Project title</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="project_description" class="materialize-textarea" name="project_description" class="validate" length="120"></textarea>
            <label for="description">Project description</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="modal-action modal-close btn deep-orange waves-effect waves-light">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="projects" class=" mdl-grid">
    
</div>