<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>kv</title>
    <!-- CSS  -->
    <link href="css/materialize.css" type="text/css" rel="stylesheet"/>
    <link href="css/material-icons.css" type="text/css" rel="stylesheet"/>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>

    <!-- Navbar -->
    <div class="navbar-fixed">
      <nav class="nav-wrapper blue-grey">
        <div class="container">
          <a id="logo-container" href="#" class="brand-logo">KEY VALUE</a>
          <div class="right">
            <a href="#" class="waves-effect waves-light deep-orange btn">login</a>
          </div>
          <ul class="right hide-on-med-and-down">
            <li><a href="/docs/main">ABOUT</a></li>
            <li><a href="/pricing">DOCUMENTATION</a></li>
            <li><a href="/about">HELP</a></li>
          </ul>
          <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
            <a href="#" class="waves-effect waves-light btn">login</a>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </div>

    <!-- Container -->
    <div class="container">
      <include href="{{ @content }}" />
    </div><!-- Container - END -->

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/async.min.js"></script>
    <script type="text/javascript" src="js/api.js"></script>
    <script type="text/javascript" src="js/handlebars.js"></script>
    <repeat group="{{ @js }}" value="{{ @src }}">
      <script type="text/javascript" src="{{ @src }}"></script>
    </repeat>
  </body>
</html>